h1 {
  line-height: 15px;
  padding: 5px;
}

h2 {
  font-size: 35px;
  line-height: 0px;
  text-align: left;
  opacity: 0.8;
}

h3 {
  line-height: 0px;
  font-size: 21px;
  text-align: left;
  opacity: 0.8;
}

h4 {
  font-size: 21px;
  line-height: 0px;
  text-align: left;
  opacity: 0.8;
}

ul {
  list-style: none;
  text-align: center;
  padding: 10px;
  display: block;
  margin: 0 auto;
  line-height: 16px;
  font-size: 17px;
  font-weight: bold;
  opacity: 0.8;
}

li {
  font-size: 17px;
  list-style: none;
  line-height: 0px;
  text-align: center;
  display: block;
  margin: 0 auto;
  opacity: 0.8;
}

.current-temp {
  font-size: 60px;
}

.units {
  margin-top: -35px;
}

.GitHub-link {
  font-size: 15px;
  display: block;
  margin: 10px auto;
  text-align: center;
}

body {
  background-color: hsl(173, 16%, 89%);
  border: 1px solid hsl(180, 1%, 32%);
  align-self: center;
  text-align: center;
  padding: 15px;
  padding-left: 15px;
  margin: 20px auto;
  font-family: "Overpass", sans-serif;
  border-radius: 10px;
  max-width: 600px;
}
