h1 {
  line-height: 20px;
}

h2 {
  font-size: 35px;
  line-height: 0px;
  text-align: left;
  opacity: 0.7;
}

h3 {
  line-height: 0px;
  font-size: 21px;
  text-align: left;
  opacity: 0.7;
}

h4 {
  font-size: 21px;
  line-height: 0px;
  text-align: left;
  opacity: 0.7;
}

icon {
  position: relative;
  bottom: 18px;
}

ul {
  text-align: center;
  padding: 0;
  margin: 0;
}

li {
  font-weight: 100;
  font-size: 17px;
  list-style: none;
  line-height: 18px;
  text-align: center;
  display: block;
  margin: 0;
  opacity: 0.7;
}

.col-3 {
  display: inline-flex;
}

.current-temp {
  font-size: 45px;
  text-align: left;
}

.units {
  text-align: left;
  position: relative;
  left: 52px;
  bottom: 61px;
}

body {
  background-color: hsl(173, 16%, 89%);
  border: 1px solid hsl(180, 1%, 32%);
  padding: 15px;
  padding-left: 15px;
  margin: 20px auto;
  font-family: sans-serif;
  border-radius: 20px;
  max-width: 600px;
}

small {
  text-align: center;
  position: relative;
  top: 33px;
  left: 60px;
}
